{% extends 'base2.html' %}

{% block head %}
<link href="../static/css/tables.css" rel="stylesheet" />
{% endblock %}


{% block body %}
<div class="container-fluid">
    <h1>
        APIs Manager
    </h1>
    {% if errors%}
        <p>{{errors}}</p>
    {% endif %}

    <table border="1" id="customers">
        <tr>
            <th>Provider</th>
            <th>Username</th>
            <th>Password</th>
            <th>API Key</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for a in api %}
        <tr>
            <td>{{a.api_provider}}</td>
            <td>{{a.api_username}}</td>
            <td>{{a.api_password}}</td>
            <td>{{a.api_key}}</td>
            <td>{{a.date_created.date()}}</td>
            {% if user.permission_id == 4 %}
            <td>
                <a href="api/delete/{{a.id}}">Delete</a><br>
                <a href="api/edit/{{a.id}}">Update</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if user.permission_id == 4 %}
    <form action="/api" method="POST">
       Provider: <input type="text" name="api_provider" id="api_provider"><br>
       Username: <input type="text" name="api_username" id="api_username"><br>
       Password: <input type="text" name="api_password" id="api_password"><br>
       API Key: <input type="text" name="api_key" id="api_key"><br>
        <input type="submit" name="submit" value="Add API">
    </form>
    {% endif %}

</div>
{% endblock %}
