{% extends 'base2.html' %}

{% block head %}
<link href="../../static/css/styles.css" rel="stylesheet" />
{% endblock %}


{% block body %}
<div class="container-fluid">
    <h1>
        Update User
    </h1>
    {% if errors%}
        <p>{{errors}}</p>
    {% endif %}

    <form action="/users/update" method="POST">
       Username: <input type="text" name="username" id="username" value="{{user.username}}"><br>
       Email: <input type="text" name="email" id="email" value="{{user.email}}"><br>
       Password: <input type="password" name="password" id="password" value="{{user.password}}"><br>
       Permission:
        <select name="permission_type">
            {% for p in permissions %}
                {% if user.permission_id == p.id %}
                    <option value="{{p.id}}" selected >{{p.permission_name}}</option>
                {% else %}
                    <option value="{{p.id}}" >{{p.permission_name}}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <input type="submit" name="submit" value="Update">
    </form>

</div>
{% endblock %}
